<!DOCTYPE html>
<html>
    <head>
        <!-- needed for bootstrap -->
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE-edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        
        <!-- start content -->
        <title>Notes: Login</title>
        
        <!-- bootstrap -->
        <link href='css/bootstrap.min.css' rel='stylesheet'>
        <!-- link href='css/notes.css' rel='stylesheet' -->
        
        <!-- Angular.js -->
        <script src="js/angular.min.js"></script>
        
    </head>
    <body ng-app="notes">
        <h1 class='text-center'>Notes</h1>
        
        <!-- View old notes -->
        <div ng-controller="notesController">
            <form class='form-horizontal'>
            <div class='getNotes' ng-repeat='note in notes'>
                <div class='form-group'>
                    <label class='col-xs-3 control-label'>{{note.date | date : 'MMM d h:mma'}}</label>
                    <p class='col-xs-7'>{{note.note}}</p>
                    <div class='col-xs-2'>
                        <button class='btn btn-default' type='button' data-ng-click='delete(note)'>Delete</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <br>
        
        <!-- Form for new note submission -->
        <form class='form-horizontal' method='POST' action='/notes/add'>
            <div class='form-group'>
                <label for='note' class='col-xs-2 control-label'>New note:</label>
                <div class='col-xs-8'>
                    <textarea class='form-control' name='note' placeholder='Something to remember...'></textarea>
                </div>
            </div>
            <div class='col-xs-offset-2 col-xs-8'>
                <button class='btn btn-primary btn-lg btn-block' type='submit'>Submit</button>
            </div>
         </form>
    
        <!-- need this for bootstraps javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src='js/bootstrap.min.js'></script>
        
        <!-- Angular.js Modules -->
        <script src="js/notes.js"></script>
        <script src="js/controllers/notesController.js"></script>
        <script src='js/services/getNotes.js'></script>
    </body>
</html>